/**
* font size: 12pt
* font : Arial
* All labels : bold
* Email Label (only) in red
*/
body{
    font-size: 12pt;
    font-family: Arial, sans-serif;
}
label{
    font-weight: bold;
}
label[for=email]{
    color:red;
}
h2{
    text-align: center;
}

.img-fluid {
    display: block;
    margin: 0 auto;
}